body {
    font-family: 'Lora', serif;
    font-family: 'Playfair Display', serif;
    font-family: 'PT Serif', serif;
    font-family: 'Frank Ruhl Libre', sans-serif;
    font-family: 'EB Garamond', serif;
}
